<a href="https://colab.research.google.com/github/sateesh345/python/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if,elif,else condicotions

In [ ]:
i=int(input("enter your age"))
if(i<=21):
  print("your not eligible to marriage")
elif(i>=21):
  print("your eligible to marriage")
else:
  ("your alredy married")

enter your age25
your eligible to marriage

for loop

In [ ]:
for i in range(0,7):
  for j in range(0,i+1):
    print(i,end="")
  print()

0
11
222
3333
44444
555555
6666666

In [ ]:
i=11
for i in range(11,19):

  for j in range(11,i+1):
    print(j,end="")
  print()

11
1112
111213
11121314
1112131415
111213141516
11121314151617
1112131415161718

In [ ]:
for i in range(1,9):
  for j in range(i,9):
    print(i,end="")
  print()

11111111
2222222
333333
44444
5555
666
77
8

In [ ]:
for i in range(1,6):
  for j in range(0,6):
    print(i,end="")
  print()

111111
222222
333333
444444
555555

while

In [ ]:
i=1

while(i<=10):
  print("2 X",i,"=",2*i)
  i=i+1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
i=int(input("enter number"))
while(i<=5):
  print(i)
  i=i+1

enter number1
1
2
3
4
5

oops
class

In [ ]:
class virat():
  int(input("enter jersy number"))
  def profile(self):
    print("PROFILE")
    print("country:","india")
    print("name:","virat")
    print("batting style:","right hand")
    print("bowling style:","right hand")
    print("age:""37")
class kohli(virat):
  def details(self):
    print("DETAILS")
    print("mother name:","saroj kohli")
    print("father name","prem nath")
    print("wife:","anuska")
    print("location:","mumbai")
class akay(kohli):
  def score(self):
    print("SCORE")
    print("ENG:""182")
    print("BAN:""154")
    print("AUS:""113")
    print("NZ:""134")
    print("PAK:""183")
    print("SA:""157")
d=akay()
d.profile()
d.details()
d.score()

enter jersy number7
PROFILE
country: india
name: virat
batting style: right hand
bowling style: right hand
age:37
DETAILS
mother name: saroj kohli
father name prem nath
wife: anuska
location: mumbai
SCORE
ENG:182
BAN:154
AUS:113
NZ:134
PAK:183
SA:157

In [ ]:
class profile:
  def __init__(self,name,age):
    self.name=name
    self.age=age
p1=profile("raj",25)
print(p1.name)
print(p1.age)

raj
25