<a href="https://colab.research.google.com/github/sateesh345/python/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 s=['sateesh ram charam chakri yuvan']
len(s)

1

In [ ]:
p=(20+50+80+150)
print(p)

300

In [ ]:
p=['a','b','c','d']
print(p)

['a', 'b', 'c', 'd']

In [ ]:
p=30
if p==30:
 print('p is equal to 30')

p is equal to 30

In [ ]:
for i in range(0,5):

  print(i)

0
1
2
3
4

In [ ]:
for i in range(0,5):
  j=20
  print(i)
print(j)

0
1
2
3
4
20

In [ ]:
def square(num):
     return num**2
     square(2)

In [ ]:
def evenood(num):
  if num % 2==0:
    print("even number")
  else:
    print("odd number")
evenood(2)
evenood(3)

even number
odd number

In [ ]:
def evenood(num):
  if num %2==0:
    print("even number")
  else:
    print("odd number")
evenood(3)
evenood(9)

odd number
odd number

In [ ]:
p=30
id(p)
hex(id(p))

'0xa40f28'

In [ ]:
p=20
q=20
r=q
p,type(p),hex(id(p))
q,type(q),hex(id(q))
r,type(r),hex(id(r))

(20, int, '0xa40de8')

In [ ]:
s=("sateesh")
print(s*5)
len(s)

sateeshsateeshsateeshsateeshsateesh

7

In [ ]:
s="sateeshkumarpragada"
print(s[0:7])
print(s[-5:])
print(s[:7])

sateesh
agada
sateesh

In [ ]:
s="jai sree ram"
for i in s:

  print(i)
  print(s)

j
jai sree ram
a
jai sree ram
i
jai sree ram

jai sree ram
s
jai sree ram
r
jai sree ram
e
jai sree ram
e
jai sree ram

jai sree ram
r
jai sree ram
a
jai sree ram
m
jai sree ram

In [ ]:
s="om namah sivayya"
for i in s:
 print(i)

o
m

n
a
m
a
h

s
i
v
a
y
y
a

In [ ]:
s="sateesh kumar pragada"
for i in s:
  print(i)

s
a
t
e
e
s
h

k
u
m
a
r

p
r
a
g
a
d
a

In [ ]:
s="jai sree ram"
for i in enumerate(s):
  print(i)

(0, 'j')
(1, 'a')
(2, 'i')
(3, ' ')
(4, 's')
(5, 'r')
(6, 'e')
(7, 'e')
(8, ' ')
(9, 'r')
(10, 'a')
(11, 'm')

In [ ]:
s="vidhi sree"
print("vidhi" in s)
print("sree" in s)
print("yuvan" in s)

True
True
False

In [ ]:
s="my name is sateesh kumar pragada from srikakulam"
p=s.partition("from")
print(p)

('my name is sateesh kumar pragada ', 'from', ' srikakulam')

In [ ]:
p="he plays soccer every weekend"
o=p.partition("soccer")
print(o)

('he plays ', 'soccer', ' every weekend')

In [ ]:
sat=['Sateesh','ram','charan','virat','sateesh','kohli','virat','sateesh','kumar','ram']
#sat.count('ram')
#sat.count('sateesh')
sat.count('virat')
#sat.count('charan')

2

In [ ]:
for i in range(100):
  if i%2==1:
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
for i in range(50):
  if i%2==0:
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [ ]:
p=[1,2,3,4,0]
for i in p:
  print(i)

1
2
3
4
0

In [ ]:
s=[1,3,5,7,9,0]
all(s)
#any(s)

False

In [ ]:
s1=(1,2,3,4,'true')
all(s1)
any(s1)

True

In [ ]:
s=[2,4,6,8,10]
s=[i*10 for i in s]
print(s)

[20, 40, 60, 80, 100]

In [ ]:
list1 = [2,3,4,5,6,7,8]
list1 = [i*10 for i in list1]
print(list1)

[20, 30, 40, 50, 60, 70, 80]

In [ ]:
for i in range(200):
  if i%9==0:
    if i%6==0:

     print(i,end=" ")

0 18 36 54 72 90 108 126 144 162 180 198

In [ ]:
s={1,2,3,5,7,9,}
k={2,4,6,8,10}
#s. intersection(k)
#s.union(k)
#k.add(12)
s.remove(2)
print(s)

{1, 3, 5, 7, 9}

In [ ]:
from textwrap import shorten
a={1,14,1345,12345,5321}
#sum(a)
len(a)

5

In [ ]:
k={9,8,7,6,5,4,3,2,1}
s={1,2,3,4,5,6,7,8,9}
#sorted(k)
d=sorted (s,reverse=True)
print(d)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
s={1:'one','a':'two',3:'three','b':'four'}
s.keys()
#print(s)

dict_keys([1, 'a', 3, 'b'])

In [ ]:
k=dict({1:'one',2:'two',3:'three',4:'four'})
print(k)

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
p={1:'one','a':'two',3:'three','b':'four'}
p.values()

dict_values(['one', 'two', 'three', 'four'])

In [ ]:
e=s={1:'one','a':'two',3:'three','b':'four'}
e.items()

dict_items([(1, 'one'), ('a', 'two'), (3, 'three'), ('b', 'four')])

In [ ]:
a={1:'one','a':'two','c':['sateesh','ram','charan'],3:'three','b':['virat','kohli','anuska']}
print(a)

{1: 'one', 'a': 'two', 'c': ['sateesh', 'ram', 'charan'], 3: 'three', 'b': ['virat', 'kohli', 'anuska']}

In [ ]:
sat={'a','b','c','d'}
kum=dict.fromkeys(sat)
print(kum)

{'c': None, 'd': None, 'b': None, 'a': None}

In [ ]:
sati={'s','a','t','e','e','s','h'}
val=50
kumr=dict.fromkeys(sati,val)
print(kumr)

{'h': 50, 's': 50, 'e': 50, 't': 50, 'a': 50}

In [ ]:
profile={'name':'sateesh','age':25,'dob':1999,'job':'software','addres':'vizag'}
profile['addres']='Hydrabadh'
#profile['name']
#profile['age']
#profile['name']='sateesh kumar'
print(profile)

{'name': 'sateesh', 'age': 25, 'dob': 1999, 'job': 'software', 'addres': 'Hydrabadh'}

In [ ]:
profile={'name':'sateesh','age':25,'DOB':1999,'job':'software','addres':'vizag'}
change={'DOB':2000}
profile.update(change)
print(profile)

{'name': 'sateesh', 'age': 25, 'DOB': 2000, 'job': 'software', 'addres': 'vizag'}

In [ ]:
profile={'name':'sateesh','age':25,'dob':1999,'job':'software','addres':'vizag'}
profile ['job']='army'
print(profile)

{'name': 'sateesh', 'age': 25, 'dob': 1999, 'job': 'army', 'addres': 'vizag'}

In [ ]:
profile={'name':'sateesh','age':25,'dob':1999,'job':'software','addres':'vizag'}
profile.pop('job')
print(profile)

{'name': 'sateesh', 'age': 25, 'dob': 1999, 'addres': 'vizag'}

In [ ]:
profile={'name':'sateesh','age':25,'dob':1999,'job':'software','addres':'vizag'}
for i in profile:
  print(i,':',profile[i])

name : sateesh
age : 25
dob : 1999
job : software
addres : vizag

In [ ]:
profile={'name':'sateesh','age':25,'dob':1999,'job':'software','addres':'vizag'}
#for i in profile:
  #print(profile[i])
all(profile)

True

In [ ]:
class person:
  def __init__(self,name,age):
   self.name=name
   self.age=age
p1=person('sateesh',25)
print(p1.name)
print(p1.age)

sateesh
25

In [ ]:
class profile:
  def __init__(self,name,score):
    self.name=name
    self.score=score
p2=profile("virat",100)
print(p2.name)
print(p2.score)

virat
100

In [ ]:
s=int(input('enter jersy number'))
class match:
  def display(self):
    print("ind vs pak")
class profile(match):
  def screen(self):
    print('profile')
    print('-------------')
    print('name','virat')
    print('birth','delhi')
    print('role','batsman')
    print('best',183)
class score(profile):
  def output(self):
    print('match details')
    print('-------------')
    print('score',100)
    print('oppo team','pak')
    print('balls',111)
    print('fours',7)
    print('dot balls',50)
    print('singels',40)

d=score()
d.display()
d.screen()
d.output()
#multi level inheritance

enter jersy number18
ind vs pak
profile
-------------
name virat
birth delhi
role batsman
best 183
match details
-------------
score 100
oppo team pak
balls 111
fours 7
dot balls 50
singels 40

In [ ]:
class sat:
  def __init__ (self,name,clas):
    self.name=name
    self.clas=clas
p1=sat('ram','degree')
print(p1.name)
print(p1.clas)
#constructor

ram
degree

In [ ]:
class sat():
  def display(self):
    print("looking beautiful")
class ram(sat):
  def screen(self):
    print("looking good")
class virat(ram):
  def output(self):
    print("looking not good")
d=virat()
d.display()
d.screen()
d.output()

looking beautiful
looking good
looking not good

In [ ]:
class ram():
  def display(self):
    print("hello ram")
class virt(ram):
  def screen(self):
    print('hello virat')
class sat(ram):
  def displaay(self):
    print("hello sateesh")
d=sat()
d.displaay()
d.display()
#hierarchial inheritance

hello sateesh
hello ram

In [ ]:
s=int(input("enter a number"))
sum=0
while(s<=200):
     sum=sum+s
     s=s+2
print(sum)

enter a number20
10010

In [ ]:
s=int(input('enter a value'))
sum=0
while(s<=500):
  sum=sum+s
  s=s+2
print(sum)

enter a value39
62139

In [ ]:

try:
  #x=int(input('enter a value'))
  print(x)
#except NameError:
  #print("varible not declared")
except:
  print('something went wrong')
print('end')

18
end

In [ ]:
try:
  print(s)
except:
    print('something went wrong')
else:
  print('sateesh')
finally:
  print('program end')

18
sateesh
program end

In [ ]:
try:
  s=5
  print(s/p)
except NameError:
    print('something went wrong')
except ZeroDivisionError:
  print('value cannot be divided by zero')
finally:
  print('program end')

value cannot be divided by zero
program end

In [ ]:
class singl():
  def display(self):
    print("good morning")
class dua(singl):
  def screen(self):
    print('good evening')
d=dua()
d.display()
d.screen()
#single level inheritance

good morning
good evening

In [ ]:
class kohli():
  def display(self):
    print('highest run getter')
class rohit():
  def screen(self):
    print('highest odi runs')
class dhoni(kohli,rohit):
  def output(self):
    print('highest test runs')
d=dhoni()
d.display()
d.screen()
d.output()
#multiple inheritance

highest run getter
highest odi runs
highest test runs

object=physical entity
we can create any no of object for class
object name=class name

**try**- the try block will genarate an exception


**except**-this block handle the error

In [ ]:
print("hello")
try:
  print(10/0)
except ZeroDivisionError:
  print("end of the program")

hello
end of the program

In [ ]:
try:
 a=int(input('enter a number'))
 b=int(input('enter b number'))
 print(a/b)
except ArithmeticError:
  print('ArithmeticErro')
except ZeroDivisionError:
  print('ZeroDivisionError')

enter a number898
enter b number989
0.9079878665318504

In [ ]:
try:
  print('try block')
  print(10/0)
except ZeroDivisionError:
  print('except block')
finally:
  print('finally block')
  print('end of the program')

try block
except block
finally block
end of the program

In [ ]:
try:
  stat-1
  stat-2 #stat 1 is an error it directly moves to except block it means stat-3
         #stat-4,stat-5
except:
  stat-3
finally:
  stat-4
stat-5

In [1]:
i=1
while (i<10):
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9

In [8]:
i=1
while(i<=10):
  print('2X',i,'=',2*i)
  i=i+1

2X 1 = 2
2X 2 = 4
2X 3 = 6
2X 4 = 8
2X 5 = 10
2X 6 = 12
2X 7 = 14
2X 8 = 16
2X 9 = 18
2X 10 = 20

In [12]:
for i in range(1,7):
  for j in range(1,i+1):
     print(j,end='')
  print()

1
12
123
1234
12345
123456

In [19]:
i=3
a=1
while(a<=10):
  print(i,'X',a,'=',a*i)
  a=a+1

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

In [22]:
s=int(input('enter a value'))
if (s>=18):
  print('person eligible to vote')
elif(s<=18):
  print('person not eligible to ovte')
else:
  print('already ovted')

enter a value18
person eligible to vote

In [25]:
class ram():
  def __init__ (self,name,age):
    self.name=name
    self.age=age
p1=ram('ram','38')
print(p1.name)
print(p1.age)

ram
38

In [33]:
class ram():
  def __init__ (self,a,b):
    self.__a=a
    self._b=b
class charan(ram):
  def display(self):
     print(self._b)
d=charan(18,25)
d.display()

25

In [35]:
s="sateesh"
for i in s:
  print(i)

s
a
t
e
e
s
h

In [37]:
s='sateesh kumar'
print (len(s))

13

In [44]:
from ast import Add
s=['sateesh','kumar','ram']
#s.append('charan')
#s.remove('ram')
#len(s)

#print(s)

3

In [51]:
s=['ram charan','sat','ram','star']
k=['virat kohli']
#print(s+k)
print(s[1:2])

['sat']

In [52]:
try:
    print('sateesh kumar')
except TypeError:
    print("typr error")
except ValueError:
    print('value error')
class pythonlife():
    s=3
    print(s)

sateesh kumar
3

In [53]:
class sateesh():
    s=18
    def output(self):
        print(self.s)
b=sateesh()
b.output()

18

In [61]:
s=(12,14,16,18,10,111,123)
print (min(s))
print(max(s))
print(sum(s))
print(len(s))

10
123
304
7